/* Reset Styles */
body#sre {
  overflow-x: hidden;
}

// Header
body.sre-body-home #wrapwrap #top {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  nav.navbar {
    background-color: transparent;
    box-shadow: unset !important;
    #top_menu_container ul.nav:not(ul#top_menu) {
      display: none;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
  &.o_top_fixed_element nav.navbar #top_menu_container a.navbar-brand { display: none; }
  &.o_header_affixed nav.navbar { 
    background-color: var(--sre-secondary-color); 
    #top_menu_container a.navbar-brand { display: block; }
  }
}

.s_embed_code {
  min-height: auto !important;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

#sre {
  overflow-x: hidden;
}