/* All Variables */
$amble:               "Amble", sans-serif, serif          !default;
$amble-lt:            "Amble Lt", sans-serif, serif       !default;
$amble-ltCn:          "Amble LtCn", sans-serif, serif     !default;

$berlin:              "Berlin", sans-serif, serif         !default;
$berlin-bold:         "Berlin Bold", sans-serif, serif    !default;
$berlin-italic-bold:  "Berlin XBold", sans-serif, serif   !default;

/* Main Colors*/
:root {
  --sre-primary-color:    #FFFFFF;
  --sre-secondary-color:  #000000;

  --sre-ff-amble:           "Amble", sans-serif, serif;
  --sre-ff-berlin:          "Berlin", sans-serif, serif;
}

/* SIzes for media queries */
$breakpoints: (
  // Phones
  "phone-xxs":                  320px,
  "phone-xs":                   375px,
  "phone-s":                    420px,
  "phone-m":                    580px,
  "phone-l":                    640px,
  "phone-xl":                   800px,

  // Tablets
  "tablet-s":                   820px,
  "tablet-m":                   900px,
  "tablet-l":                   980px,

  // Desktop
  "desktop-xs":                1024px,
  "desktop-s":                 1140px,
  "desktop-md":                1280px,
  "desktop-l":                 1360px,
  "desktop-xl":                1440px,
  "desktop-xxl":               1980px
);